/* screen - frame-60 */

.frame-60 {
  align-items: flex-start;
  background-color: var(--woodsmoke);
  display: flex;
  height: 9330px;
  overflow: hidden;
  width: 375px;
}

.frame-60 .overlap-group3 {
  height: 9601px;
  margin-left: -56px;
  margin-top: -271px;
  position: relative;
  width: 520px;
}

.frame-60 .image-13 {
  height: 9330px;
  left: 58px;
  position: absolute;
  top: 271px;
  width: 374px;
}

.frame-60 .rectangle-18 {
  background: linear-gradient(180deg, rgb(10, 10, 10) 0%, rgba(10, 10, 10, 0) 100%);
  height: 692px;
  left: 56px;
  position: absolute;
  top: 271px;
  width: 375px;
}

.frame-60 .ellipse-1 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(255, 32, 32) 0%, rgba(255, 32, 32, 0) 100%);
  border-radius: 241px/181px;
  height: 362px;
  left: 4px;
  position: absolute;
  top: 0;
  width: 482px;
}

.frame-60 .frame-30 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 238px;
  left: 80px;
  position: absolute;
  top: 3499px;
  width: 327px;
}

.frame-60 .surname {
  height: 42px;
  letter-spacing: 0;
  text-align: center;
  width: 327px;
}

.frame-60 .only-hyde-nation-wil {
  color: transparent;
  font-family: var(--font-family-play);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 180px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 16px;
  text-align: center;
  width: 327px;
}

.frame-60 .span1 {
  color: var(--orange-red);
}

.frame-60 .frame-7 {
  display: flex;
  height: 44px;
  left: 80px;
  position: absolute;
  top: 363px;
  width: 327px;
}

.frame-60 .frame-62 {
  display: flex;
  width: 250px;
}

.frame-60 .frame-3 {
  background-color: var(--mine-shaft);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 44px;
  width: 123px;
}

.frame-60 .tvl {
  height: 14px;
  letter-spacing: 0;
  margin-left: 48.5px;
  margin-top: 6px;
  width: 26px;
}

.frame-60 .price {
  height: 16px;
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 2px;
  width: 89px;
}

.frame-60 .frame-4 {
  background-color: var(--mine-shaft);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 4px;
  width: 123px;
}

.frame-60 .mcap {
  height: 14px;
  letter-spacing: 0;
  margin-left: 43px;
  margin-top: 6px;
  width: 37px;
}

.frame-60 .price-1 {
  height: 16px;
  letter-spacing: 0;
  margin-left: 21px;
  margin-top: 2px;
  width: 81px;
}

.frame-60 .frame-5 {
  background-color: var(--mine-shaft);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 44px;
  margin-left: 4px;
  width: 73px;
}

.frame-60 .price-2 {
  height: 14px;
  letter-spacing: 0;
  margin-left: 18px;
  margin-top: 6px;
  width: 37px;
}

.frame-60 .price-3 {
  height: 16px;
  letter-spacing: 0;
  margin-left: 18px;
  margin-top: 2px;
  width: 37px;
}

.frame-60 .frame-61 {
  display: flex;
  height: 40px;
  left: 318px;
  position: absolute;
  top: 297px;
  width: 90px;
}

.frame-60 .frame-38 {
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.frame-60 .frame-39 {
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
  width: 40px;
}

.frame-60 .logo-1 {
  height: 48px;
  left: 81px;
  position: absolute;
  top: 293px;
  width: 136px;
}

.frame-60 .frame-63 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 56px;
  min-height: 493px;
  position: absolute;
  top: 426px;
  width: 375px;
}

.frame-60 .overlap-group {
  align-self: flex-start;
  height: 321px;
  margin-left: -20.5px;
  margin-top: 7px;
  position: relative;
  width: 375px;
}

.frame-60 .img_0282-1 {
  height: 306px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 375px;
}

.frame-60 .notorious {
  left: 68px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 207px;
}

.frame-60 .finance {
  left: 106px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 24px #ff202080;
  top: 265px;
}

.frame-60 .notoriousfinance-is {
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  min-height: 72px;
  text-align: center;
  width: 259px;
}

.frame-60 .frame-39-1 {
  background-color: var(--orange-red);
  border-radius: 4px;
  box-shadow: 0px 0px 24px #ff202080;
  display: flex;
  height: 48px;
  margin-top: 33px;
  width: 161px;
}

.frame-60 .mint-here {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: 32px;
  margin-top: 12px;
  white-space: nowrap;
  width: 97px;
}

.frame-60 .img_0270-1 {
  height: 453px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 963px;
  width: 375px;
}

.frame-60 .text-6 {
  left: 244px;
  letter-spacing: 0;
  position: absolute;
  text-shadow: 0px 0px 24px #ff202080;
  top: 1114px;
}

.frame-60 .our-main-focus-is-pr {
  left: 244px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  top: 1188px;
  width: 163px;
}

.frame-60 .frame-49 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 120px;
  left: 98px;
  position: absolute;
  top: 1523px;
  width: 294px;
}

.frame-60 .roadmap {
  height: 56px;
  letter-spacing: 0;
  text-shadow: 0px 0px 24px #ff202080;
  width: 216px;
}

.frame-60 .the-path-to-the-next {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 16px;
  text-align: center;
  width: 294px;
}

.frame-60 .group-47 {
  align-items: flex-start;
  display: flex;
  height: 748px;
  left: 80px;
  min-width: 327px;
  position: absolute;
  top: 1691px;
}

.frame-60 .overlap-group1 {
  height: 694px;
  margin-top: 10px;
  position: relative;
  width: 24px;
}

.frame-60 .rectangle-19 {
  background-color: var(--orange-red);
  height: 670px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 2px;
}

.frame-60 .group-34 {
  background-color: var(--orange-red);
  border-radius: 12px;
  box-shadow: 0px 0px 24px #ff2020;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 24px;
}

.frame-60 .ellipse-5 {
  background-color: var(--white);
  border-radius: 5px;
  height: 10px;
  margin-top: 7px;
  width: 10px;
}

.frame-60 .group-35 {
  background-color: var(--orange-red);
  border-radius: 12px;
  box-shadow: 0px 0px 24px #ff2020;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 158px;
  width: 24px;
}

.frame-60 .group-36 {
  background-color: var(--orange-red);
  border-radius: 12px;
  box-shadow: 0px 0px 24px #ff2020;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 292px;
  width: 24px;
}

.frame-60 .group-37 {
  background-color: var(--orange-red);
  border-radius: 12px;
  box-shadow: 0px 0px 24px #ff2020;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 426px;
  width: 24px;
}

.frame-60 .group-38 {
  background-color: var(--orange-red);
  border-radius: 12px;
  box-shadow: 0px 0px 24px #ff2020;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 536px;
  width: 24px;
}

.frame-60 .group-39 {
  background-color: var(--orange-red);
  border-radius: 12px;
  box-shadow: 0px 0px 24px #ff2020;
  display: flex;
  height: 24px;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 670px;
  width: 24px;
}

.frame-60 .frame-64 {
  display: flex;
  flex-direction: column;
  height: 748px;
  margin-left: 25px;
  width: 278px;
}

.frame-60 .frame-42 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 126px;
}

.frame-60 .stage {
  height: 42px;
  letter-spacing: 0;
  margin-left: -149px;
  width: 129px;
}

.frame-60 .jekyll-farms-and-hyd {
  height: 72px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  width: 278px;
}

.frame-60 .frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 102px;
  margin-top: 32px;
}

.frame-60 .liquidity-generation {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  width: 278px;
}

.frame-60 .jekyll-farm-and-hyde {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  width: 278px;
}

.frame-60 .frame-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 78px;
  margin-top: 32px;
}

.frame-60 .surname-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-left: -52px;
  margin-top: 12px;
  white-space: nowrap;
  width: 226px;
}

.frame-60 .wide-ranch-of-levera {
  height: 48px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  width: 278px;
}

.frame-60 .cross-chain-expansion {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  margin-top: 12px;
  white-space: nowrap;
  width: 278px;
}

.frame-60 .frame-65 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 168px;
  left: 130px;
  position: absolute;
  top: 2536px;
  width: 228px;
}

.frame-60 .why-is {
  height: 56px;
  letter-spacing: 0;
  text-align: center;
  width: 152px;
}

.frame-60 .notorious-finance {
  height: 112px;
  letter-spacing: 0;
  text-align: center;
  text-shadow: 0px 0px 24px #ff202080;
  width: 228px;
}

.frame-60 .x11-1 {
  height: 343px;
  left: 128px;
  object-fit: cover;
  position: absolute;
  top: 2713px;
  width: 232px;
}

.frame-60 .frame-31 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 98px;
  left: 120px;
  position: absolute;
  top: 3056px;
  width: 249px;
}

.frame-60 .jekyll-farm {
  height: 42px;
  letter-spacing: 0;
  width: 249px;
}

.frame-60 .jekyll-farm-allows-l {
  height: 40px;
  letter-spacing: 0;
  line-height: 20px;
  margin-top: 16px;
  text-align: center;
  width: 249px;
}

.frame-60 .x22-1 {
  height: 375px;
  left: 98px;
  object-fit: cover;
  position: absolute;
  top: 3150px;
  width: 291px;
}

.frame-60 .img_0269-1 {
  height: 571px;
  left: 146px;
  object-fit: cover;
  position: absolute;
  top: 3642px;
  width: 375px;
}

.frame-60 .frame-51 {
  align-items: flex-start;
  background-color: var(--black-3);
  display: flex;
  height: 1152px;
  justify-content: flex-end;
  left: 86px;
  min-width: 321px;
  position: absolute;
  top: 4088px;
}

.frame-60 .overlap-group2 {
  align-self: center;
  height: 1128px;
  position: relative;
  width: 297px;
}

.frame-60 .frame-52 {
  display: flex;
  height: 24px;
  left: 12px;
  position: absolute;
  top: 142px;
  width: 273px;
}

.frame-60 .place {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
  white-space: nowrap;
  width: 51px;
}

.frame-60 .rectangle-14-1 {
  background-color: var(--storm-dust);
  height: 1px;
  margin-left: 8px;
  margin-top: 23px;
  width: 214px;
}

.frame-60 .frame-55 {
  display: flex;
  height: 24px;
  left: 12px;
  position: absolute;
  top: 182px;
  width: 159px;
}

.frame-60 .address {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
  white-space: nowrap;
  width: 79px;
}

.frame-60 .rectangle-14 {
  background-color: var(--storm-dust);
  height: 1px;
  margin-left: 8px;
  margin-top: 23px;
  width: 72px;
}

.frame-60 .frame-56 {
  display: flex;
  height: 24px;
  left: 189px;
  position: absolute;
  top: 182px;
  width: 96px;
}

.frame-60 .place-1 {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
  white-space: nowrap;
  width: 45px;
}

.frame-60 .rectangle-14-2 {
  background-color: var(--storm-dust);
  height: 1px;
  margin-left: 8px;
  margin-top: 23px;
  width: 43px;
}

.frame-60 .frame-54 {
  display: flex;
  flex-direction: column;
  height: 8px;
  left: 12px;
  position: absolute;
  top: 123px;
  width: 273px;
}

.frame-60 .rectangle-15 {
  background-color: var(--storm-dust);
  height: 1px;
}

.frame-60 .rectangle-16 {
  background-color: var(--storm-dust);
  height: 1px;
  margin-top: 6px;
}

.frame-60 .surname-2 {
  color: var(--alto);
  font-family: var(--font-family-play);
  font-size: var(--font-size-xxxxl);
  font-weight: 700;
  left: 37px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 224px;
}

.frame-60 .group {
  height: 56px;
  left: 12px;
  position: absolute;
  top: 224px;
  width: 50px;
}

.frame-60 .rectangle-17 {
  height: 1128px;
  left: 0;
  position: absolute;
  top: 0;
  width: 297px;
}

.frame-60 .x1-you-do-talk-about {
  color: var(--orange-red);
  font-family: var(--font-family-shadows_into_light);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 11px;
  letter-spacing: 0;
  line-height: 38px;
  position: absolute;
  text-shadow: 0px 0px 24px #ff202080;
  top: 256px;
  width: 275px;
}

.frame-60 .frame-53 {
  display: flex;
  margin-left: 227px;
  margin-top: 149px;
  width: 115px;
}

.frame-60 .age {
  height: 24px;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
  white-space: nowrap;
  width: 35px;
}

.frame-60 .img_0264-1 {
  height: 457px;
  left: 98px;
  object-fit: cover;
  position: absolute;
  top: 5184px;
  width: 375px;
}

.frame-60 .group-37-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 795px;
  left: 80px;
  position: absolute;
  top: 5597px;
  width: 331px;
}

.frame-60 .surname-3 {
  height: 112px;
  letter-spacing: 0;
  margin-left: -4px;
  margin-top: 351px;
  text-align: center;
  text-shadow: 0px 0px 24px #ff202080;
  width: 327px;
}

.frame-60 .we-have-collection-o {
  height: 308px;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: -4px;
  margin-top: 24px;
  text-align: center;
  width: 327px;
}

.frame-60 .image-4 {
  height: 327px;
  margin-left: -4px;
  margin-top: -795px;
  object-fit: cover;
  width: 327px;
}

.frame-60 .group-44 {
  display: flex;
  flex-direction: column;
  height: 768px;
  left: 80px;
  position: absolute;
  top: 6528px;
  width: 327px;
}

.frame-60 .frame-58 {
  display: flex;
  flex-direction: column;
  height: 393px;
  margin-top: 375px;
}

.frame-60 .the-minting-event-of {
  align-self: center;
  height: 140px;
  letter-spacing: 0;
  line-height: 28px;
  width: 327px;
}

.frame-60 .frame-57 {
  display: flex;
  flex-direction: column;
  height: 229px;
  margin-top: 24px;
  width: 327px;
}

.frame-60 .frame-66 {
  display: flex;
  width: 327px;
}

.frame-60 .frame-39-2 {
  display: flex;
  flex-direction: column;
  height: 99px;
  width: 163.5px;
}

.frame-60 .percent {
  height: 74px;
  letter-spacing: 0;
  margin-left: 17.2px;
  text-shadow: 0px 0px 24px #ff202080;
  width: 129px;
}

.frame-60 .liquidity {
  align-self: center;
  height: 21px;
  letter-spacing: 0;
  margin-top: 4px;
  width: 70px;
}

.frame-60 .frame-40 {
  display: flex;
  flex-direction: column;
  height: 87px;
  margin-top: 12px;
  width: 163.5px;
}

.frame-60 .percent-1 {
  height: 62px;
  letter-spacing: 0;
  margin-left: 27.2px;
  text-shadow: 0px 0px 24px #ff202080;
  width: 109px;
}

.frame-60 .development {
  align-self: center;
  height: 21px;
  letter-spacing: 0;
  margin-top: 4px;
  width: 109px;
}

.frame-60 .frame-67 {
  display: flex;
  margin-top: 48px;
  width: 327px;
}

.frame-60 .frame-41 {
  display: flex;
  flex-direction: column;
  height: 82px;
  width: 163.5px;
}

.frame-60 .percent-2 {
  height: 56px;
  letter-spacing: 0;
  margin-left: 33.2px;
  text-shadow: 0px 0px 24px #ff202080;
  width: 97px;
}

.frame-60 .marketing {
  align-self: center;
  height: 21px;
  letter-spacing: 0;
  margin-top: 5px;
  width: 83px;
}

.frame-60 .frame-42-1 {
  display: flex;
  flex-direction: column;
  height: 74px;
  margin-top: 8px;
  width: 163.5px;
}

.frame-60 .percent-3 {
  height: 46px;
  letter-spacing: 0;
  margin-left: 41.2px;
  text-shadow: 0px 0px 24px #ff202080;
  width: 81px;
}

.frame-60 .team {
  align-self: center;
  height: 21px;
  letter-spacing: 0;
  margin-top: 7px;
  width: 46px;
}

.frame-60 .frame-2 {
  height: 327px;
  margin-top: -768px;
  width: 327px;
}

.frame-60 .group-43 {
  display: flex;
  flex-direction: column;
  height: 783px;
  left: 80px;
  position: absolute;
  top: 7431px;
  width: 329px;
}

.frame-60 .frame-68 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 112px;
  margin-left: 85px;
  margin-top: 359px;
  width: 158px;
}

.frame-60 .nft {
  height: 56px;
  letter-spacing: 0;
  width: 94px;
}

.frame-60 .design {
  height: 56px;
  letter-spacing: 0;
  text-shadow: 0px 0px 24px #ff202080;
  width: 158px;
}

.frame-60 .image-11 {
  height: 136px;
  margin-left: 96px;
  margin-top: 32px;
  object-fit: cover;
  width: 136px;
}

.frame-60 .each-nft-is-unique-p {
  align-self: center;
  height: 112px;
  letter-spacing: 0;
  line-height: 28px;
  margin-left: -2px;
  margin-top: 32px;
  text-align: center;
  width: 327px;
}

.frame-60 .image-4-1 {
  align-self: center;
  height: 327px;
  margin-left: -2px;
  margin-top: -783px;
  object-fit: cover;
  width: 327px;
}

.frame-60 .frame-69 {
  display: flex;
  flex-direction: column;
  height: 152px;
  left: 80px;
  position: absolute;
  top: 8628px;
  width: 327px;
}

.frame-60 .twitter {
  height: 32px;
  margin-left: 147.5px;
  width: 32px;
}

.frame-60 .our-twitter-feed {
  height: 112px;
  letter-spacing: 0;
  margin-top: 8px;
  text-align: center;
}

.frame-60 .frame-61-1 {
  background-color: var(--orange-red);
  border-radius: 8px;
  height: 524px;
  left: 80px;
  position: absolute;
  top: 8812px;
  width: 326px;
}

.frame-60 .img_0283-1 {
  height: 469px;
  left: 64px;
  object-fit: cover;
  position: absolute;
  top: 8238px;
  width: 328px;
}

.frame-60 .frame-41-1 {
  display: flex;
  flex-direction: column;
  height: 152px;
  left: 80px;
  position: absolute;
  top: 9400px;
  width: 326px;
}

.frame-60 .logo {
  height: 48px;
  margin-left: 95.0px;
  width: 135.6px;
}

.frame-60 .frame-23 {
  display: flex;
  flex-direction: column;
  height: 72px;
  margin-left: 79px;
  margin-top: 32px;
  width: 176px;
}

.frame-60 .frame-22 {
  display: flex;
  margin-left: 40px;
  width: 96px;
}

.frame-60 .frame-6 {
  cursor: pointer;
  height: 16px;
  margin-top: 4px;
  width: 20px;
}

.frame-60 .frame-8 {
  height: 16px;
  margin-left: 16px;
  margin-top: 4px;
  width: 20px;
}

.frame-60 .facebook {
  height: 24px;
  margin-left: 16px;
  width: 24px;
}

.frame-60 .copyright {
  height: 16px;
  letter-spacing: 0;
  margin-top: 32px;
  text-align: right;
}
