/*Шрифты начало*/
@font-face {
    font-family:'Play';
    font-style: 'Regular';
    src: url(../fonts/Play.woff);
}
@font-face {
    font-family:'Play Bold';
    font-style: 'Bold';
    src: url(../fonts/Play-Bold.woff) ;
}
@font-face {
    font-family:'ShadowsInto';
    font-style: 'Regular';
    src: url(../fonts/ShadowsIntoLight-Regular.ttf) ;
}

/*Шрифты конец*/
html{
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    background-image: linear-gradient(to bottom, black 0%, transparent 16%), url(../img/bg-1.jpg);
}
.header,
.menu {
    padding: 0 20px;
}
.padding {
    display: none;
}
.stop-scroll {
    overflow: hidden;
  }
/*Header start*/
.header{
    margin-bottom: 24px;
}
.header_wrapp{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.header_wrapp_mobile_def {
    position: absolute;
    opacity: 0;
}
.close {
    display: none;
}

.header_left{
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
}
.header_left_logo{
    margin-top: 24px;
}
.heder_left_nav{
    margin-left: 64.5px;
    margin-top: 43px;
}
.heder_left_nav_ul{
    display: flex;
    flex-wrap: wrap;
}
.heder_left_nav_li{
    font-family: 'Play Bold';
    font-size: 18px;
    line-height: 21px;
    padding-right: 32px;
}
.heder_left_nav_li:last-child{
    padding-right: 0;
}
.heder_left_nav_li_link{
    text-decoration: none;
    color:white;
    padding-bottom: 3px;
}
.heder_left_nav_li_link:hover, .heder_left_nav_li_link:active{
    border-bottom: 2px solid red ;
}
.header_wrapp_centr{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 130px;
}

.header_right_mobile {
    display: none;
}
.header_right{
    display: flex;
    flex-wrap: wrap;
    z-index: 3;
}
.header_right_price_ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.header_right_price_li{
    border-radius: 8px;
    background-color: rgba(48, 48, 48, 0.75);
    margin-right: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.header_right_price_li:last-child{
    margin-right: 20px;
}
.header_right_price_text_1{
    color: white;
    padding: 0px 0px 0px 12px ;
    font-family: 'Play Bold';
    font-size: 12px;
    line-height: 14px;
    color: red;
    
}
.header_right_price_text_2{
    color: white;
    padding: 0px 12px 0px 6px ;
    font-family: 'Play Bold';
    font-size: 14px;
    line-height: 16px;
    
}
.header_right_price_twitt{
    border: 2px solid white;
    border-radius: 24px;  
    margin-top: 34px;
    padding: 10px 24px 10px 24px;
    
}

.header_right_price_twitt_text{
    font-family: 'Play';
    font-size: 16px;
    line-height: 19px;
    color: white;
    padding: 0px 0px 0px 12px ;
}
.header_img{
    padding-left: 161px;
    max-width: 1920px;
}
.header_wrapp_img{
    background: url(../img/svg/Humans.svg) no-repeat center;
    width: 942px;
    height: 694px;
    padding-top: 448px;
    padding-left:471px ;
}
.header_wrapp_img_h1{
    font-family: 'Play Bold';
    font-size: 96px;
    line-height: 111px;
    color:white
}
.header_wrapp_img_h2{
    font-family: 'Play Bold';
    font-size: 96px;
    line-height: 111px;
    color:#FF2020;
    filter: drop-shadow(0px 0px  24px  rgba(255, 32, 32, 0.5));
}
.header_wrapp_img_text{
    padding-top: 24px;
    padding-left: 640px;
}
.header_wrapp_img_t1{
    font-family: 'Play';
    font-size: 18px;
    line-height: 24px;
    color:red;
    margin-top: 24px;
}
.header_wrapp_img_t2{
    font-family: 'Play';
    font-size: 18px;
    line-height: 24px;
    color:white;
}

/*Header end*/

/*Menu start*/
.wrapp{
    max-width: 1320px;
    margin: 0 auto;
    margin-bottom: 84px;
}
.section_1{
    display: flex;
    flex-wrap: wrap;
}
.section_1_info{
    padding-left: 55px;
    padding-top: 24px;
}
.section_1_info_but{
    font-family: 'Play Bold';
    font-size: 18px;
    line-height: 24px;
    color:white;
    border-radius: 4px;
    background:red;
    filter: drop-shadow(0px 0px  24px  rgba(255, 32, 32, 0.5));
    padding: 12px 32px;
    border: none;
    margin-left:61px ;
}
.section_1_info_text{
    display: flex;
    flex-wrap: wrap;
}
.section_1_info_text_1{
    font-family: 'Play Bold';
    font-size: 96px;
    line-height: 111px;
    color:red;
    filter: drop-shadow(0px 0px  24px  rgba(255, 32, 32, 0.5));
    display: inline-block;
    display: block;
    padding-top: 167px;
}
.section_1_info_text_2{
    font-family: 'Play';
    font-size: 36px;
    line-height: 48px;
    color:white;
    max-width: 640px;
    height: 240px;
    display: inline-block;
    padding-left: 11px;
    padding-top: 205px;
}
.section_1_hum_blu_img{
    width: 547px;
    height: 627px;
}
.wrapp_2{
    max-width: 1280px;
    margin: 0 auto;
}
.section_2{
    position: relative;
}
.section_2-roadmap{
    margin-bottom: 0;
    padding-left: 197px;
    padding-top:148px ;
}
.roadmap_text {
    position: absolute;
    top: 57%;
    left: 0;
    max-width: 24%;
    display: flex;
    flex-direction: column;
}
.roadmap-text-1 {
    margin-bottom: 23px;
    font-family: 'Play Bold';
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    color: #FF2020;
    text-shadow: 0px 0px 24px rgba(255, 32, 32, 0.5);
}
.roadmap-text-2 {
    font-family: 'Play';
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.section_2_stage_1{
    position: absolute;
    top: 119px;
    left: 231px;
}
.section_2_stage_2{
    position: absolute;
    top: 170px;
    left: 542px;
}
.section_2_stage_3{
    position: absolute;
    top: 363px;
    left: 598px;
}
.section_2_stage_4{
    position: absolute;
    top: 285px;
    left: 945px;
}
.section_2_stage_5{
    position: absolute;
    top: 414px;
    left: 1049px;
}
.section_2_stage_6{
    position: absolute;
    top: 565px;
    left: 519px;
}
.section_2_stage_wrap_text{
    color: white;
    width:277px;
}
.section_2_stage_1_title{
    display: block;
    font-family: 'Play Bold';
    font-size: 36px;
    line-height: 42px;
    padding-bottom: 12px;
}
.section_2_stage_1_text{
    display: block;
    font-family: 'Play';
    font-size: 18px;
    line-height: 24px;
    
}
.section_2_stage_1_text_1{
    position: absolute;
    top: 18px;
    left: 268px;
}
.section_2_stage_2_text{
    position: absolute;
    top: 80px;
    left: 570px;
}
.section_2_stage_3_text{
    padding-right: 18px;
    position: absolute;
    top: 215px;
    left: 629px;
}

.section_2_stage_4_text{
    position: absolute;
    top: 228px;
    left: 974px;
}
.section_2_stage_5_text{
    padding-right: 94px;
    position: absolute;
    top: 404px;
    left: 1099px;
}
.section_2_stage_6_text{
    position: absolute;
    top: 558px;
    left: 255px;
    text-align: right;
}
.finance{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: 152px;
    margin-bottom: 259px;
}
.finance_img_blu{
    padding-top: 46px;
    padding-right: 39px;
}
.finance_img_red{
    padding-top: 56px;
    padding-left: 18px;
}
.finance_text_1{
    font-family: 'Play';
    font-size: 96px;
    line-height: 111px;
    color:white;
}
.finance_text_2{
    font-family: 'Play Bold';
    font-size: 96px;
    line-height: 111px;
    color:red;
    filter: drop-shadow(0px 0px  24px  rgba(255, 32, 32, 0.5));
    display: block;
}
.finance_info{
    display: flex;
    flex-wrap: wrap;
    width: 684px;
    justify-content: space-between;
    position: absolute;
    top:482px;
    left: 336px;
}
.finance_info_text_1_title{
    font-family: 'Play Bold';
    font-size: 36px;
    line-height: 24px;
    color:#2094FF;
}
.finance_info_text_1_text{
    display: block;
    font-family: 'Play';
    font-size: 18px;
    line-height: 24px;
    color:white;
    width: 253px;
    padding-top: 24px;
}
.finance_info_text_2{
    text-align: right;
}
.finance_info_text_2_title{
    font-family: 'Play Bold';
    font-size: 36px;
    line-height: 24px;
    color:red;
}
.finance_info_text_2_text{
    display: block;
    padding-top: 24px;
    font-family: 'Play';
    font-size: 18px;
    line-height: 24px;
    color:white;
    width: 380px;
}
/*menu end*/
/*tablo start*/
.tablo{
    margin: 0 auto ;
    width: 720px;
    border: 1px solid #656565;
    padding: 20px;
    margin-bottom: 216px;
    position: relative;
    background: rgba(0, 0, 0, 0.37);
}
.tablo_alximic{
    position: absolute;
    right: -319px;
    top:-192px;
}
.tablo_bog{
    position: absolute;
    left:-366px;
    bottom:-195px;
}
.tablo_ramka{
    border: 1px solid #656565;
}
.tablo_info{
    padding: 0 45px 0 45px;
}
.tablo_info_title{
    font-family: 'Play Bold';
    font-size: 50px;
    line-height: 58px;
    color: white;
    padding-bottom: 19px;
}
.tablo_info_lini{
    display: block;
    content: '';
    border-bottom: 1px solid #656565;
    width: 583px;
    margin-bottom: 6px;
}
.tablo_info_lini_2{
    display: block;
    content: '';
    border-bottom: 1px solid #656565;
    width: 583px;
    margin-bottom: 17px;
}

.tablo_info_anketa_up{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 33px;
}
.tablo_info_anleta_text_2{
    font-family: 'Play';
    font-size: 18px;
    line-height: 24px;
    color: #656565;
    padding-left: 18px;
}
.tablo_info_anleta_text_1{
    font-family: 'Play';
    font-size: 18px;
    line-height: 24px;
    color: #656565;
    padding-right: 8px;
}
.tablo_info_anleta_lin_name{
    display: block;
    content: '';
    border-bottom: 1px solid #656565;
    width: 390px;
    padding-top: 8px;
    
}
.tablo_info_anleta_lin_age{
    display: block;
    content: '';
    border-bottom: 1px solid #656565;
    width: 72px;
    padding-top: 8px;
}
.tablo_info_anleta_lin_ADDRESS{
    display: block;
    content: '';
    border-bottom: 1px solid #656565;
    width: 327px;
    padding-top: 8px;
}
.tablo_info_anleta_lin_DATE{
    display: block;
    content: '';
    border-bottom: 1px solid #656565;
    width: 99px;
    padding-top: 8px;
}
.tablo_info_anketa_bot{
    padding: 0 36px 41px 36px;
    position: relative;
}
.anketa_logo{
    position: absolute;
    top:-17px;
    left: 46px;
}
.tablo_info_anketa_bot_text{
    
    font-family: 'ShadowsInto';
    font-size: 32px;
    line-height: 38px;
    color: #FF2020;
    filter: drop-shadow(0px 0px  24px  rgba(255, 32, 32, 0.5));
}
.bot_text_1{
    padding-left: 145px;
}
.bot_text_2{
    padding-left: 129px;
}
.bot_text_3{
    padding-left: 10px;
}
.bot_text_4{
    padding-left: 30px;
}
.bot_text_5{
    padding-left: 68px;
}
.bot_text_6{
    padding-left: 40px;
}
.bot_text_7{
    padding-left: 80px;
}
.bot_text_8{
    padding-left: 175px;
}
.bot_text_9{
    padding-left: 120px;
}
.bot_text_10{
    padding-left: 100px;
}
.bot_text_11{
    padding-left: 80px;
}
.bot_text_12{
    padding-left: 100px;
}
.bot_text_13{
    padding-left: 10px;
}
.bot_text_14{
    padding-left: 100px;
}
/*tablo end*/
/*nation_pass start*/

.nation_pass{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 180px;
    margin-bottom: 190px;
}
.nation_pass_tittle{
    font-family: 'Play Bold';
    font-size: 96px;
    line-height: 111px;
    color: red;
    filter: drop-shadow(0px 0px  24px  rgba(255, 32, 32, 0.5));
    width: 700px;
    padding-bottom: 32px;
}
.nation_pass_text{
    font-family: 'Play';
    font-size: 20px;
    line-height: 30px;
    color: white;
    width: 520px;
}
.wrapp_4{
    margin-left: 109px;
}
.NTF{
    gap: 0px;
}
.NTF_text{
    font-family: 'Play';
    font-size: 24px;
    line-height: 36px;
    color: white;
    padding-bottom: 48px;
    width: 640px;
    padding-top: 73px;
}
.nation_pass_prozent{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

}
.nation_pass_prozent_li{
    padding-right: 48px;
}
.nation_pass_prozent_li:last-child{
    padding-right: 0px;
}
.nation_pass_prozent_li_up{
    font-family: 'Play Bold';
    font-size: 64px;
    line-height: 74px;
    color: red;
    filter: drop-shadow(0px 0px  24px  rgba(255, 32, 32, 0.5));
}
.nation_pass_prozent_li_bot{
    font-family: 'Play';
    font-size: 18px;
    line-height: 21px;
    color: white;
}
.up_25{
    font-size: 54px;
    line-height: 62px;
    
}
.up_15{
    font-size: 48px;
    line-height: 56px;
    text-align: bottom;
}
.up_10{
    font-size: 40px;
    line-height: 46px;
    text-align: bottom;
}
/*nation_pass end*/
/*NFT design start*/
.NFT_design_wrapp{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 1228px;
    margin: 0 auto;
    margin-bottom: 294px;
}
.NFT_design_info{
    width: 426px;
    padding-left: 74px;
}
.NFT_design_info_title_up{
    font-family: 'Play Bold';
    font-size: 96px;
    line-height: 111px;
    color: white;
}
.NFT_design_info_title_bot{
    font-family: 'Play Bold';
    font-size: 96px;
    line-height: 111px;;
    color: red;
    filter: drop-shadow(0px 0px  24px  rgba(255, 32, 32, 0.5));
}
.NFT_design_info_text{
    font-family: 'Play';
    font-size: 20px;
    line-height: 30px;
    color: white;
}
.NFT_design_pick{
    position: absolute;
    right: 0;
    top:0;
}

/*NFT design end*/

/*footer start*/

.footer_block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 98px;
}
.seti{
    text-align: right;
}
.twitt_icon_text{
    margin-right: 137px;
    max-width: 22%;
}
.twitt_icon{
    display: inline-flex;
    margin-bottom: 109px;
}
.img_twtt,.img_tele{
    padding-right: 10px;
}

.twitt_text{
    font-family: 'Play Bold';
    font-size: 64px;
    line-height: 74px;
    color: white;
}
.twitt_red{
    background: #FF2020;
    width: 560px;
    height: 763px;
    position: relative;
}
.twitt_blu_red{
    position: absolute;
    top:-292px;
    right: -456px;
}
.seti_text{
    font-family: 'Play';
    font-size: 14px;
    line-height: 16px;
    color: #7C7C7C;
    padding-top: 17px;
}
/*footer end*/
